@media only screen and (min-width: 321px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header nav {
        flex-direction: row;
        
    }
    header nav a {
        display: block;
        align-items: center;
        margin: 0;
    }

    #btn-menu {
        display: none;
    }

    /**************** MAIN SECTION *************/
    main {
        max-width: 1300px;
        margin: auto;
    }
    .container-home {
        grid-template-columns: 2fr 1fr 1fr;
    }
    .container-business {
        grid-template-columns: repeat(3, 1fr);
    }

    /**************** SECOND SECTION *************/
    /* List View */
    .list .card-business {
        grid-template-columns: 2fr 1fr;
    }
    .list .header-business {
        flex-direction: row;
    }

    /**************** FOOTER SECTION *************/
    .container-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        max-width: 1300px;
        margin: auto;
        padding-left: 5px;
    }
    .social a {
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        background-color: black;
    }
}