:root {
    --primaryColor: #1d5996;
    --secondaryColor: #E0A500;
    --secondaryHover: #9e7401;
    --backgroundColor: #F8F9FB;
    --whiteColor: #fff;
    --textColor: #242424;
    --accent-color: #009688;
    --fontFamily: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--backgroundColor);
    font-family: var(--fontFamily);
    color: var(--textColor);
}

/********************** HEADER *************************/

header {
    /* display: flex;
    flex-direction: row;
    gap: 10px; */
    background-color: var(--primaryColor);
    padding: 1rem 1.2rem;
}

.logo-box img {
    width: 40px;
    border-radius: 100%;
    border: 1px solid #252525;
}
header span {
    font-size: 1.1rem;
    color: #ffffff;
}
/************** HAMBURGER NAVIGATION ******************/
#btn-menu {
    background: none;
    border: none;
    color: var(--backgroundColor);
    cursor: pointer;
    font-family: Arial;
}
#btn-menu::after {
    content: "\2630";
    font-size: 2rem;
    text-align: end;
}
#btn-menu.show::after {
    content: "❌";
    font-size: 1.5rem;
    text-align: end;
}
/****************** NAVIGATION *********************/
header nav {
    display: flex;
    flex-direction: column;
}
header nav a {
    display: none;
    padding: 1rem;
    text-align: center;
    margin: 1rem 0;
    font-size: 1.2rem;
    color: var(--whiteColor);
}
header nav a:hover {
    background-color: var(--secondaryColor);
    color: var(--textColor);
}
.show a {
    display: block;
}
/****************** MAIN *********************/
main section {
    text-align: center;
}

/****************** HERO *********************/
.section-hero {
    position: relative;
    height: 40vh;
    background: url(../images/commerce-hero.webp)
                center/cover no-repeat;
    color: #ffffff;
    
}
.section-hero::after {
    content: "";
    position: absolute;
    inset: 0;
    /*background: rgb(0 0 0 / .45);*/
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,50,0.4));
}
.hero-content {
    position: relative;
    z-index: 1;
    padding: 20px;
}
.hero-content h2 {
    margin: 2rem 0 1rem;
}
.hero-content p {
    margin-bottom: 2.5rem;
}
.hero-content a {
    background-color: var(--secondaryColor);
    padding: 1rem;
    border-radius: 6px;
    color: var(--textColor);
}
.hero-content a:hover {
    background-color: var(--secondaryHover);
    color: var(--whiteColor);
}


/****************** FIRST SECTION *********************/
h1 {
    text-align: left;
    margin-left: 10px;
}
.container-home {
    margin: 0 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}
.card-home {
    background-color: #e3e3e3;
    width: 100%;
    border-radius: 6px;
    border: 1px solid gray;
    overflow: hidden;
    color: #333;
}
.card-header {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    text-align: center;
    padding: 8px;
}
.card-content {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
    gap: 15px;
}
.weather-icon {
    font-size: 100px;
    margin: 0;
    flex-shrink: 0;
}
.weather-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.temp {
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 8px 0;
}
ul.details {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.6;
}
ul.details li {
    margin: 2px 0;
}

ul.forecast li {
    font-size: 1.2rem;
}
ul.forecast li span {
    font-weight: bold;
}

/****************** SECOND SECTION *********************/
/* List View */
.list {
    margin: 2rem 10px;
    display: flex;
    flex-direction: column;
}
.list .card-business {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0.25rem;
}
.list .header-business {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    border: none;
    padding-left: .5rem;
}
.list .header-business p {
    color: #600606;
}

.list img {
    display: none;
}
.list .card-business:nth-child(even) {
    background-color: #bbb;
}

/* Grid View */
.container-business {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem 10px;
    gap: .8rem;
}
.card-business {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}
.header-business {
    margin: 10px 0px 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #c0c0c0;
}
.content-business {
    display: flex;
}
.content-business img {
    margin: 10px;
    width: 100px;
    height: 100px;
    float: left;
}
.business-info p, 
.business-info a {
    display: block;
    color: black;
    margin: 10px;
    font-weight: bold;
    text-align: start;
}
.business-info span {
    font-weight: normal;
}
.business-info a span {
    color: blue;
    text-decoration: underline;
}

/****************** BUTONS *********************/
.menu {
    margin: 2rem 10px;
    padding: .5rem 0;
    background-color: #4b4b4b;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.menu button {
    background-color: var(--secondaryColor);
    border: 1px solid black;
    padding: 1rem 2rem;
    color: var(--textColor);
    cursor: pointer;
}
.menu button:hover {
    background-color: var(--secondaryHover);
    color: var(--whiteColor);
}

/****************** FOOTER *********************/
.end-page {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    padding: 1rem 10px;
    line-height: 1.6;
}
.contact h4 {
    margin: 10px 0;
}
.social {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}
.social a {
    border: 1px solid var(--whiteColor);
    border-radius: 100%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    background-color: black;
}
.social a:hover {
    background-color: #5b5b5b;
}
.social a img {
    width: 2rem;
}