@media only screen and (min-width: 64rem) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header nav {
        flex-direction: row;
        
    }
    header nav a {
        display: block;
        align-items: center;
        margin: 0;
    }

    #btn-menu {
        display: none;
    }

    /**************** MAIN SECTION *************/
    main {
        max-width: 1300px;
        margin: auto;
    }
    .container-home {
        grid-template-columns: 2fr 1fr 1fr;
    }
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
    .hero-content p {
        max-width: 650px;
        margin: 0  auto 2.5rem;
    }

    /**************** SECOND SECTION *************/
    /* List View */
    .container.directory.list {
        grid-template-columns: 1fr;
    }
    .list .card-business{
        grid-template-columns: 2fr 1fr;
    }
    .list .header-business {
        flex-direction: row;
    }

    /**************** FOOTER SECTION *************/
    .container-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        max-width: 1300px;
        margin: auto;
        padding-left: 5px;
    }
    .social a {
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        background-color: black;
    }

    /****************** JOIN PAGE **************/
    /**************** FORM SECTION *************/
    .appli-form {
        grid-template-columns: repeat(2, 1fr);
    }

    /***************** DISCOVER PAGE ********************/
    .discover-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .discover-container h1 {
        grid-column-start: 1;
        grid-column-end: 3;
        text-shadow: 4px 4px 16px var(--primaryColor);
    }
}