* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

/***************** HEADER ******************/

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: 1px solid #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.3rem;
    color: #3D405B;
}

/************** HAMBURGER NAVIGATION ******************/
.hamburger {
    background: none;
    border: none;
    color: #3D405B;
    cursor: pointer;
    font-family: sans-serif;
}
.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}
.hamburger.show::after {
    content: "\00D7";
    font-size: 2rem;
}

/************** NAVIGATION ******************/
.navigation {
    display: none;
}
.navigation.show {
    display: block;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #3D405B;
    border-bottom: 1px solid #ddd;
    
}
.navigation li.current {
    background-color: #eee;
}
.navigation a:hover {
    background-color: #E07A5F;
}

/************** MAIN ******************/
main {
    display: grid;
}

h1 {
    margin-left: 10px;
}

.box-section {
    padding: 10px;
}
.titles {
    display: block;
    background-color: #3D405B;
}

.box-section h2 {
    color: #fff;
    text-align: center;
    padding: 5px 0;
}
.box-section p {
    font-size: 1.1rem;
}
.box-section img {
    width: 15rem;
    height: 20rem;
    margin: 10px auto;
    display: block;
    border-radius: 10px;
}
.background {
    padding: 10px;
    background-color: #eee;
}
.box-selection {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.box-selection button {
    padding: 10px 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgb(81, 81, 81);
    background-color: rgb(238, 238, 213);
    cursor: pointer;
}
.box-selection button:hover {
    background-color: #E07A5F;
}
.box-courses {
    padding: 5px 10px;
    width: 100%;
    display: grid;
    gap: 1rem;
    margin-bottom: 5px;
}
.course {
    border-radius: 10px;
    background-color: #E07A5F;
    padding: 10px 0;
    text-align: center;
}
.course:hover {
    cursor: pointer;
    background-color: #8c4d3c;
}
.completed {
    background-color: rgb(238, 238, 213);
}
.completed:hover {
    background-color: rgb(168, 168, 151);
}

/************** MODAL ******************/
@keyframes fadeIn {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}
dialog {
    width: 90%;
    max-width: 600px;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / .5);
    padding: 20px;
    color: #000;

    animation: fadeIn 2s ease-in-out alternate;
}

::backdrop {
    background-color: rgba(0 0 0 / 0.5);
}
dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / .1);
}
#course-details h2 {
    background-color: #3D405B;
    margin-bottom: 1rem;
}

/************** FOOTER ******************/
footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}
.box-social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.box-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid #ccc;
    border-radius: 22px;
}
.box-social img {
    width: 22px;
    height: 22px;
}
.box-social a:hover {
    background-color: #ddd;
}